nav {
    background-color: SeaGreen;
    color: snow;
    display: flex;
    justify-content: space-between;
}
nav ul {
    /* Make the markers disappear */
    list-style-type: none;
}
nav ul li {
    /* Puts the elements in a single line */
    display: inline-flex;
    margin: 0.3em 1em;
}


    nav {
        flex-wrap: wrap;
    }
    nav ul {
        display: flex;
        flex-direction: column;
    }
    nav ul:last-child {
        width: 100%;
        flex-basis: 100%;
    }
    nav ul li {
        margin-bottom: 0;
        width: 100%;
        padding: 10px;
    }
    nav ul li a {
        color: black;
        text-decoration: none;
    }

nav input[type='checkbox'], nav label {
    display: none;
}
nav label {
    text-align: right;
    display: block;
}
input[type='checkbox']:not(:checked)+ul {
    display: none;
}

